
__pycache__/PreProcessingUtils.cpython-312.pyc
Analyze_files/Completed/__pycache__/PreProcessingText.cpython-312.pyc
*.pyc
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/ResultsCluster
Datasets/RawData/posts.csv
Datasets/CleanedData/posts_cleaned.csv
Analyze_files/CombiningAnalysisCompleteDataset/merged_data.csv
Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/cleaned_data_name_thread.csv
Analyze_files/CombiningAnalysisCompleteDataset/ContentAnalysis/PreProcessFiles/content_clean_sentences.csv
Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/OtherFilesPreviousApproach/cleaned_data_name_thread_TF-IDF_top_keywords.csv
extract_requirements.py
MergedModelBERT/openhermes-2.5-mistral-7b.Q4_K_M.gguf
openhermes-2.5-mistral-7b.Q4_K_M.gguf
generate_html.py
resize_images.py
/BackupPresentation
/Datasets/RawData
/Datasets/CleanedData
/Datasets/FeatureEngineeringData
/Analyze_files/CombiningAnalysisCompleteDataset/merged_data.zip
/Analyze_files/CombiningAnalysisCompleteDataset/ContentAnalysis/DatasetsContentBERTopic/BERTopic_all-MiniLM-L6-v2_190_20n_8dim.parquet
/Analyze_files/CombiningAnalysisCompleteDataset/ContentAnalysis/DatasetsContentBERTopic/BERTopic_all-MiniLM-L6-v2_150_150n_10dim_white_nation.parquet
/Analyze_files/CombiningAnalysisCompleteDataset/ContentAnalysis/PreProcessFiles
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/DatasetsThreadBERTopic/BERTopic_all-MiniLM-L6-v2_150_20n.parquet
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/DatasetsThreadBERTopic/BERTopic_all-MiniLM-L6-v2_200.parquet
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/DatasetsThreadBERTopic/BERTopic_all-MiniLM-L6-v2_400.parquet
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/DatasetsThreadBERTopic/BERTopic_all-MiniLM-L6-v2_500_150n_10dim_raid.parquet
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/DatasetsThreadBERTopic/BERTopic_nodefinedcluster_topics_15n_10com_500cluster_0.54sil_renewout.parquet
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/DatasetsThreadBERTopic/BERTopic_nodefinedcluster_topics_15n_10com_1200cluster_0.64sil_renewout.parquet
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/OtherFilesPreviousApproach
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/PreProcessFiles
/Analyze_files/CombiningAnalysisCompleteDataset/ThreadAnalysis/cleaned_data_name_thread.zip
/ShowModelsBaselineBERT/Content/CSV31TopicWhiteNation/document_topic_proba_sentiment.csv
/ShowModelsBaselineBERT/Content/CSV31TopicWhiteNation/document_topic_proba.csv
/ShowModelsBaselineBERT/Content/CSV121Topic/document_topic_proba_sentiment.csv
/ShowModelsBaselineBERT/Content/CSV121Topic/document_topic_proba.parquet
/ShowModelsBaselineBERT/Thread/7Topic/CSV7Topic/document_topic_proba_sentiment.csv
/ShowModelsBaselineBERT/Thread/7Topic/CSV7Topic/document_topic_proba.csv
/ShowModelsBaselineBERT/Thread/26TopicRaid/CSV26TopicRaid/document_topic_proba_sentiment.csv
/ShowModelsBaselineBERT/Thread/26TopicRaid/CSV26TopicRaid/document_topic_proba.csv
/ShowModelsBaselineBERT/Thread/68Topic/CSV68Topic/document_topic_proba_sentiment.csv
/ShowModelsBaselineBERT/Thread/68Topic/CSV68Topic/document_topic_proba.csv