beautifulsoup4==4.12.3
bertopic==0.16.2
deep_translator==1.11.4
gensim==4.3.2
hdbscan==0.8.36
keybert==0.8.5
langid==1.1.6
lightgbm==4.4.0
matplotlib==3.8.3
nltk==3.8.1
numpy==2.0.0
openTSNE==1.0.1
openTSNE==1.0.1
pandas==2.2.2
scikit_learn==1.4.1.post1
sentence_transformers==3.0.1
tqdm==4.66.2
umap_learn==0.5.6
